@charset "utf-8";

*{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
	
}
#navbar{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 1rem 6rem;
	box-shadow: 5px 5px 15px 10px black;
	background: #000000;
	
}
.navbar .navbar-brand{
	font-size: 28px;
	font-weight: bolder;
	color: green;
	font-family: frijole;
}
#navbarSupportedContent{
	color: white;
	border-bottom: 3px solid transparent;
	
}
#navbarSupportedContent a:hover{
   border-bottom: 3px solid green;
}


#navbarSupportedContent button{
	background: green;
	width: 5rem;
	border-radius: 10px;
}


section{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*.....home.......*/


#Home{
	background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url( "images/banner.avif");
	background-size: cover;
	background-position: center;
	flex-direction: column;
}

#Home h1{
	font-size: 100px;
	color: white;
	letter-spacing: 3px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-shadow: 0px 1px 0px #ccc;
	text-shadow: 0px 2px 0px #ccc;
	text-shadow: 0px 3px 0px #ccc;
	text-shadow: 0px 4px 0px #ccc;
	text-shadow: 0px 5px 0px #ccc;
	
	
}

#Home p{
	font-size: 20px;
	color: white;
}
#Home .input-group{
	width: 45%;
	height: 35px;
	
}
.signin{
	background: green !important;
	color: white !important;
	box-shadow: 2px 4px 5px 4px black;
	
}



     /*.....About.......*/

#about{
	background: linear-gradient( white,lightblue 100%);
	min-height: 50vh;	
}
#about h1{
	font-weight: 800;
	font-size: 60px;
}
#about p{
	font-size: 15px;
	color: black;
}


/*.......product.......*/

#product{
	background: #e5e5e5;
	
}
#product h1{
	font-size: 60px;
	font-weight: 800;
	letter-spacing: 2px;
	
}
#product img{
	width: 200px;
	height: 200px;
	border: none;
	box-shadow: 5px 3px 8px 6px gray;
	border-radius: 20px;
	overflow: hidden;
	align-items: center;
	display: block;

}
#product .card{
	width: 250px;
	height: 300px;
	background: #e5e5e5;
	border: none;
	border-radius: 20px;
	overflow: hidden;
	align-items: center;
}




/*.......contact.......*/


#contact img{
	width: 80%;
	margin: 10%;
	border-radius: 15px;
	box-shadow: 3px 3px 5px 4px gray;
}

form{
	display: flex;
	flex-direction: column;
}

#contact input{
	margin: 10px 0px;
}
#contact textarea{
	margin: 10px 0px;
}
#contact button{
	background: #E9E9E9;
	
}
#contact button:hover{
	border: 2px solid green;
}


footer{
	width: 100%;
	height: 30px;
	background: #000000;
	margin: 0px;
	text-align: center;
	color: white;
	padding: 3px;
}